.img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  
.text-block {
    position: absolute;
    bottom: -120px;
    right: 330px;
    background-color: white;
    color: black;
    width: 400px;
    font-weight: bold;
    z-index: 10;
}
.container{
    margin: 100px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.card-text{
    font-size: 20px;
}