.title{
    font-weight: bold;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
   text-align: center;
   margin: 50px;
   position: relative;
}