body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-form{
    z-index: 10;
    position: absolute;
}
.signup-form {
    width: 30%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.signup-form input {
    width: 90%;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-form button {
    width: 100%;
    padding: 10px;
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
img{
    z-index: 1;
    width: 100%;
    opacity: 0.5;
}
.title{
    font-weight: bold;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    z-index: 1000;
    position: relative;
    right: 60rem;
    top: 10rem;
    width: 1000px;
}

